############## Spirit Configuration ##############



### Output Folders
output_file_tag    <time>
log_output_folder  .
llg_output_folder  output
mc_output_folder   output
gneb_output_folder output
mmf_output_folder  output
ema_output_folder  output

### Save input parameters on State creation/deletion
save_input_initial  0
save_input_final    0

### Save atom positions on State creation/deletion
save_positions_initial 0
save_positions_final   0

### Save exchange and DM neighbours on State creation/deletion
save_neighbours_initial 0
save_neighbours_final   0



################## Hamiltonian ###################

### Hamiltonian Type
### (heisenberg_neighbours, heisenberg_pairs, gaussian)
hamiltonian                micromagnetic

GPU_ID 0

### Boundary_conditions (a b c): 0(open), 1(periodical) - only for DDI right now
boundary_conditions        1 1 0

grouped_iterations 1000 #group iterations to perform them in one batch
save_period 1 #save state afterevery X batches

save_gradient_components OFF # save all gradient components at every save_period batches, they can be displayed in GUI
double_precision_rotate OFF # rotational matrix is calculated in double
double_precision_gradient OFF # gradient (except DDI) is calculated in double, and then stored as float
lbfgs_linesearch OFF

adaptive_time_step OFF  # experimental feature to modify timestep
correct_dt 1e-3			#in ps, used as starting timestep if adaptive_time_step is ON
max_move 0.015		# LBFGS parameter
n_lbfgs 3			# LBFGS parameter
max_torque 1e-3
cell_sizes 0.125e-9 0.125e-9 1e-9 # in meters
#cell_sizes 0.06e-9 0.06e-9 3e-9 
#cell_sizes 0.9765625e-9 0.9765625e-9 3e-9
#cell_sizes 3.90625e-9 3.90625e-9 3e-9
#cell_sizes 2e-9 2e-9 5e-9
number_regions 1 # number of regions. regions are defined in configparser.cpp for now (will be moved later)

Ms
384e3

alpha
0.0

frozen_spins
0

external_field_magnitude
0.13051845

external_field_normal
0 0 1

number_anisotropies
1

anisotropies_vectors
0 0 0 0

exchange_stiffness
4.0e-12

dmi_bulk
0.0007853982

dmi_interface
0

kernel_accuracy 12.0

#ddi
#1.0

################ End Hamiltonian #################



################### Geometry #####################
### Lattice constant for basis and translations
lattice_constant 1.0

### The bravais lattice type
bravais_lattice sc

### Number of basis cells along principal
### directions (a b c)
n_basis_cells 32 32 64
################# End Geometry ###################



############### Logging Parameters ###############
### Levels of information
# 0 = ALL     - Anything
# 1 = SEVERE  - Severe error
# 2 = ERROR   - Error which can be handled
# 3 = WARNING - Possible unintended behaviour etc
# 4 = PARAMETER - Input parameter logging
# 5 = INFO      - Status information etc
# 6 = DEBUG     - Deeper status, eg numerical

### Print log messages to the console
log_to_console    1
### Print messages up to (including) log_console_level
log_console_level 5

### Save the log as a file
log_to_file    1
### Save messages up to (including) log_file_level
log_file_level 4
############# End Logging Parameters #############



################# MC Parameters ##################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
mc_max_walltime     0:0:0

### Seed for Random Number Generator
mc_seed             20006

### Number of iterations
mc_n_iterations     2000000
### Number of iterations after which to save
mc_n_iterations_log 20000

### Temperature [K]
mc_temperature      0

### Acceptance ratio
mc_acceptance_ratio 0.5

### Output configuration
mc_output_any     1
mc_output_initial 1
mc_output_final   1

mc_output_energy_step                  0
mc_output_energy_archive               1
mc_output_energy_spin_resolved         0
mc_output_energy_divide_by_nspins      1
mc_output_energy_add_readability_lines 1

mc_output_configuration_step     1
mc_output_configuration_archive  0
mc_output_configuration_filetype 3
############### End MC Parameters ################



################ LLG Parameters ##################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
llg_max_walltime        0:0:0

### Seed for Random Number Generator
llg_seed                20006

### Number of iterations
llg_n_iterations        1000000000
### Number of iterations after which to save
llg_n_iterations_log    200000

### Temperature [K]
llg_temperature                      0
llg_temperature_gradient_direction   1 0 0
llg_temperature_gradient_inclination 0

### Damping [none]
llg_damping             0.3
### Non-adiabatic damping
llg_beta                0.1

### Time step dt
llg_dt                  1.0E-4

### Bools 0 = false || 1 = true
llg_renorm              1

### 0 = use the pinned monolayer approximation
### 1 = use the gradient approximation
llg_stt_use_gradient        0
### Spin transfer torque parameter proportional
### to injected current density
llg_stt_magnitude           0.0
### Spin current polarisation normal vector
llg_stt_polarisation_normal	1.0 0.0 0.0

### Force convergence parameter
llg_force_convergence   10e-9

### Output configuration
llg_output_any     0
llg_output_initial 0
llg_output_final   0

llg_output_energy_step                  0
llg_output_energy_archive               1
llg_output_energy_spin_resolved         0
llg_output_energy_divide_by_nspins      1
llg_output_energy_add_readability_lines 1

llg_output_configuration_step     1
llg_output_configuration_archive  0
llg_output_configuration_filetype 3
############## End LLG Parameters ################



################ GNEB Parameters #################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
gneb_max_walltime        0:0:0

gneb_spring_constant     1.0

### Bools 0 = false || 1 = true
gneb_renorm              1

### Number of GNEB Energy interpolations
gneb_n_energy_interpolations 10

### Force convergence parameter
gneb_force_convergence   1e-7

### Number of iterations and saves
gneb_n_iterations        200000
gneb_n_iterations_log    200

### Output configuration
gneb_output_any     1
gneb_output_initial 0
gneb_output_final   1

gneb_output_energies_step                  0
gneb_output_energies_interpolated          1
gneb_output_energies_divide_by_nspins      1
gneb_output_energies_add_readability_lines 1

gneb_output_chain_step     0
gneb_output_chain_filetype 3
############## End GNEB Parameters ###############



################ MMF Parameters ##################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
mmf_max_walltime        0:0:0

### Force convergence parameter
mmf_force_convergence   1e-7

### Number of iterations
mmf_n_iterations        200000
### Number of iterations after which to save
mmf_n_iterations_log    1000

### Number of modes
mmf_n_modes         10
### Mode to follow
mmf_n_mode_follow   0

### Output configuration
mmf_output_any     1
mmf_output_initial 0
mmf_output_final   1

mmf_output_energy_step                  0
mmf_output_energy_archive               1
mmf_output_energy_divide_by_nspins      1
mmf_output_energy_add_readability_lines 1

mmf_output_configuration_step    0
mmf_output_configuration_archive 1
mmf_output_configuration_filetype 3
############## End MMF Parameters ################



################ EMA Parameters ##################
### Maximum wall time for single simulation
### hh:mm:ss, where 0:0:0 is infinity
ema_max_walltime        0:0:0

### Number of iterations
ema_n_iterations        200000
### Number of iterations after which to save
ema_n_iterations_log    200

### Number of modes
ema_n_modes         10
### Mode to visualize
ema_n_mode_follow   0

### Frequency of displacement
ema_frequency 0.02
### Amplitude of displacement
ema_amplitude 1

### Output configuration
ema_output_any     0
ema_output_initial 0
ema_output_final   0

ema_output_energy_step                  0
ema_output_energy_archive               1
ema_output_energy_divide_by_nspins      1
ema_output_energy_spin_resolved         0
ema_output_energy_add_readability_lines 1

ema_output_configuration_step     0
ema_output_configuration_archive  1
ema_output_configuration_filetype 3
############## End EMA Parameters ################
